:root{
    --color-blue:#295572;
    --color-green:#a2e774;
    --color-body:#242424;
    --color-container:#1E1E1E;
    --color-link:#2F2F2F;
    --color-link-hover:#555;
    --color-text:#B8B8B8;
    --color-select:black;
    --color-h:#BDBDBD;
    --color-sharp:#505050;
    --color-hr:#8c8b8b;
}
body {
    background: var(--color-body);
    width: 100%;
    margin: 0;
    color: var(--color-text);
    line-height: calc(1.3rem + 2px);
}

img {
    max-width: 100%;
    max-height: 40vh;
    display: block;
    margin:  0 auto;
}

h1,h2,h3,h4,h5,h6,pre,ul,ol {
    margin: 40px 6px;
}

p {
    margin: 9px;
}

code {
    background: none;
}

pre,blockquote {
    margin: 40px 40px;
    background: var(--color-link);
    padding: 9px;
}

pre>code{
    margin: unset;
    background: var(--color-link);
    padding: unset;
}

blockquote>*{
    margin: 20px;
}

code{
    background: var(--color-link);
    padding: 4px;
    margin: 5px;
    overflow-wrap: break-word;
}

a {
    color: var(--color-text);
}

a:hover {
    background: var(--color-link-hover);
}

a:visited,a:active {
    color: var(--color-text)
}

hr {
    border-top: 1px solid var(--color-hr);
    margin: 30px;
}

*::selection {
    background: var(--color-green);
    color: var(--color-select);
}

pre::selection,
code::selection,
span::selection {
    background: var(--color-green);
    color:var(--color-select);
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px auto;
}

td,th {
    border-bottom: 1px solid var(--color-link);
    padding: 2px 10px;
}

tr:last-child>td {
    border-bottom: none;
}

.container {
    /*float: right;*/
    max-width: 70%;
    margin: 9px auto auto 21px;
    padding: 9px;
    background: var(--color-container);
    display: inline-block;
}

.head {
    height: 12px;
    background: rgb(49, 2, 100); /*var(--color-blue);*/
    display: block;
    justify-content: center;
    width: 100%;
    float: left;
    min-height: 69px;
}

.title-wrap {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    height: 30vh;
    display: block;
    justify-content: center;
}

.title{
    margin: 12px 20px;
}

.subtitle{
    font-size: large;
    margin: 0 30px;
}

.foot{
    height: 100px;
    width: 100%;
    background: rgb(49, 2, 100); /*var(--color-blue);*/
    justify-content: center;
    float: left;
}

.author-wrap{
    text-align: center;
}

div.sourceCode {
    margin: 13px;
}

h1::before {
    content: '#';
    color: var(--color-sharp);
    margin-right: 10px;
}

h2::before {
    content: '##';
    color: var(--color-sharp);
    margin-right: 10px;
}

h3::before {
    content: '###';
    color: var(--color-sharp);
    margin-right: 10px;
}

h4::before {
    content: '#####';
    color: var(--color-sharp);
    margin-right: 10px;
}

h5::before {
    content: '######';
    color: var(--color-sharp);
    margin-right: 10px;
}

h6::before {
    content: '#######';
    color: var(--color-sharp);
    margin-right: 10px;
}

nav {
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    float: left;
    margin-top: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: var(--color-text);
    line-height: calc(1.3rem + 2px);
    display: inline-block;
    max-width: 336px;
    top: 0px;
    background-color: var(--color-container);
}

ul {
    margin: 0px;
}

ul>li {
    margin: 0px;
    border-style: none;
}
